# Configuration file to import data for the Han Lab
[DNPProfile_F]
data_format = topspin
dim1 = freq

[DNPEnhancementBuildUp]
data_format = topspin
dim1 = tc

[ELDOR]
data_format = specman
make_complex = true
dim0 = t2
dim1 = freq

[DNPPowerBuildUp]
data_format = topspin
dim1 = power

[EPRT1e]
data_format = specman
make_complex = true
dim0 = t2
dim1 = t1

[EPRT2e]
data_format = specman
make_complex = true
dim0 = t2
dim1 = tm

# Not yet implemented:
[DNPProfile_B]
data_format = topspin
dim1 = B0

[ODNP_CNSI]

[ODNP_HanLab]

[SC_Plot_Parameters]
xaxis_scaling_factor = 2
bar_width = 0.25

